.user-account {
  text-align: center;
  font-family: YK-sb;
  background-color: var(--darkmode);
  color: white;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
}
main[class="user-home"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-feed-upload-container {
  margin-top: 5px;
  width: 100%;
  transition: 1s;
}
.toast-pop {
  font-size: 12px;
}
.img-thumnail-ctn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trash-thumbnail {
  position: absolute;
  font-size: 30px;
  transition: 0.5s;
  color: hsl(0, 0%, 0%, 0.7);
}
.trash-thumbnail:hover {
  cursor: pointer;
  transform: scale(2);
}
.thumbnail {
  height: 100px;
  border-radius: 10px;
  padding: 3px 0px 3px 3px;
}
/* textarea[class="upload-descriptor"] {
  all: unset;
  background-color: #525252;
  color: #ffffff;
  border-radius: 10px;
  font-size: 15px;
  text-align: start;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 20px;
  width: 100%;
  height: 100px;
} */
.description-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.load-upload {
  height: 5px;
  overflow: hidden;
  background-color: #e6dedd;
  animation: loadup 2s ease-out 0s infinite forwards;
  border-radius: 10px;
}
@keyframes loadup {
  0% {
    margin-left: 5vw;
  }
  25% {
    margin-left: 15vw;
  }
  50% {
    margin-left: 25vw;
  }
  75% {
    margin-left: 40vw;
  }
  100% {
    margin-left: 60vw;
  }
}
.hide-file-upload-btn {
  display: none;
}
.choose-file {
  transition: 1s;
  background: url("../../staticAssets/noise-10.png");
  box-shadow: inset 0 0 25px rgba(216, 203, 238, 0.3), 0 0 30px rgb(0 0 0 / 20%);
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-family: sans-serif;
  cursor: pointer;
  /* margin-top: 1rem; */
  font-size: 15px;
  width: 100%;
}
button[class="feed-smt-btn"] {
  all: unset;
  transition: 1s;
  background-color: rgb(16, 7, 32);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  font-size: 15px;
  width: 100%;
  box-shadow: inset 0 0 25px rgba(216, 203, 238, 0.3), 0 0 30px rgb(0 0 0 / 20%);
  background: url("../../staticAssets/noise-10.png");
}
.upload-user-media {
  width: 50%;
}
.submit-feed-btn {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-sbt-btn {
  width: 100%;
}
.choose-file:hover,
button[class="feed-smt-btn"]:hover {
  cursor: pointer;
  background-color: rgb(23, 12, 43);
  box-shadow: inset 0 0 25px rgba(31, 202, 8, 0.7), 0 0 30px rgb(0 0 0 / 20%);
}
.upload-sub-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 15px; */
}
/* starting of feeds items styling */
.feeds-items {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: center;
}
.feeds-img-container,
.feeds-video-container {
  display: flex;
  margin: 10px 0px 10px 0px;
  transition: 0.5s ease-in;
  width: 75vw;
}

.feeds-img-container:hover,
.feeds-video-container:hover {
  filter: drop-shadow(0 0 5px #ffffff);
  transform: scale(1.05, 1.05);
}
.lazy-load-img,
.video-feed {
  height: 300px;
  border-radius: 15px 0px 0px 15px;
}
.feed-desciption {
  text-align: start;
  width: 100%;
  height: 300px;
  color: white;
  overflow: hidden;
  background-color: #e6dedd;
}
.feed-desc-bck {
  background-color: #525252;
  width: 100%;
  height: 300px;
  transition: 1s ease-out;
}
.feed-desc-bck:hover {
  animation: worp 1s ease-out 0s 1 forwards;
}
@keyframes worp {
  0% {
    border-radius: 0% 0% 0% 0%;
  }
  25% {
    border-radius: 0% 0% 20% 0%;
  }
  50% {
    border-radius: 0% 0% 40% 0%;
  }
  75% {
    border-radius: 0% 0% 30% 0%;
  }
  100% {
    border-radius: 0% 0% 20% 0%;
  }
}

.feed-date {
  font-size: 10px;
  text-align: end;
  margin-left: 10px;
}
.description-tag {
  font-size: 12px;
  text-align: start;
  margin-left: 10px;
}
.feed-desc {
  font-size: 15px;
  margin-left: 10px;
}
.output-thumbnail {
  position: relative;
}

/* //receipe input steps */
.input-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
form[class="add-from"] {
  width: 100%;
}
input[class="recepe-input"] {
  all: unset;
  text-align: left;
  background-color: azure;
  width: 100%;
  height: 50px;
  color: #000000;
  font-size: 15px;
  padding: 5px 5px 5px 10px;
}
button[class="add-btn"] {
  all: unset;
  height: 50px;
  width: 20%;
  background-color: #2a1253;
  font-size: 15px;
  transition: 0.5s;
  padding: 5px 5px 5px 10px;
}
button[class="add-btn"]:hover {
  cursor: pointer;
  background-color: azure;
  color: #448858;
}
.text-addbtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trash-splice,
.edit-splice {
  transition: 0.5s;
  position: absolute;
}
.trash-splice {
  margin-left: 10px;
}
.edit-splice {
  margin-left: 30px;
}
.trash-splice:hover {
  transform: scale(1.5);
  cursor: pointer;
  color: #000000;
}
.edit-splice:hover {
  transform: scale(1.5);
  cursor: pointer;
  color: #d3e785;
}
.recipe-steps {
  padding: 5px 50px 5px 0px;
}
.recipe-list-flex {
  position: relative;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: left;
  background-color: transparent;
  scrollbar-color: #fff #eb5353;
  scrollbar-width: thin;
  margin-top: 5px;
}
.recipe-list-flex::-webkit-scrollbar {
  width: 6px;
  background-color: #eb5353;
}
.recipe-list-flex::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
.title-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
}
.upload-item-label {
  font-size: 15px;
  margin-right: 10px;
}

input[class="upload-title"],
input[class="upload-price"] {
  all: unset;
  color: black;
  font-size: 15px;
  background-color: azure;
  text-align: left;
  padding: 5px 5px 5px 15px;
  border-radius: 0px 0px 5px 0px;
}
input[class="upload-title"] {
  width: 300px;
}
.input-line {
  width: 100%;
  height: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0px 0px 5px 5px;
  background: url("../../staticAssets/noise-10.png");
  box-shadow: inset 0 0 25px rgba(216, 203, 238, 0.3), 0 0 30px rgb(0 0 0 / 20%);
}
.click-to-display {
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background: url("../../staticAssets/noise-10.png");
  box-shadow: inset 0 0 25px rgba(216, 203, 238, 0.3), 0 0 30px rgb(0 0 0 / 20%);
}
.click-to-display:hover {
  cursor: pointer;
  background-color: #2a1253;
  color: #ffffff;
  box-shadow: inset 0 0 25px rgba(31, 202, 8, 0.7), 0 0 30px #2a1253;
}
.reverseArrow-class {
  margin-left: 10px;
}
.radion-btn-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin: 0px 10px 0px 10px;
}
@media only screen and (max-width: 1000px) {
  .title-ctn,
  .price-ctn {
    margin: 2px 0px 0px 0px;
  }
  input[class="upload-title"],
  input[class="upload-price"] {
    width: 150px;
    font-size: 12px;
  }
  .choose-file {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .feeds-items {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
  }
  .feeds-img-container,
  .feeds-video-container {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
    transition: 0.5s ease-in;
    /* height: 400px;
    overflow: hidden; */
  }

  .feeds-img-container:hover,
  .feeds-video-container:hover {
    filter: drop-shadow(0 0 5px #ffffff);
    transform: scale(1.05, 1.05);
  }
  .lazy-load-img,
  .video-feed {
    width: 300px;
    height: auto;
    border-radius: 5px 5px 0px 0px;
  }
  .feed-desciption {
    text-align: start;
    width: 300px;
    height: 100%;
    color: white;
    overflow: hidden;
    background-color: #e6dedd;
  }
  .feed-desc-bck {
    background-color: #525252;
    width: 300px;
    height: 100%;
    transition: 1s ease-out;
  }
  .recipe-list-flex {
    max-height: 150px;
  }
  .upload-sub-btn {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .upload-user-media {
    width: 100%;
  }
  .submit-feed-btn {
    width: 80%;
    margin-top: 5px;
    margin-right: 15%;
  }
  .choose-file {
    font-size: 12px;
  }
  input[class="upload-title"],
  input[class="upload-price"] {
    width: 180px;
    font-size: 12px;
  }
  .upload-item-label {
    font-size: 12px;
  }
  .title-ctn,
  .price-ctn {
    margin: 2px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .input-form {
    flex-wrap: wrap;
  }
  .user-feed-upload-container {
    width: 90%;
  }
}
