.user-account {
  text-align: center;
  font-family: YK-sb;
  background-color: var(--darkmode);
  color: white;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
}
main[class="user-home"] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.toast-pop {
  font-size: 12px;
}
.thumbnail {
  height: 100px;
  border-radius: 10px;
  padding: 3px;
}
textarea[class="upload-descriptor"] {
  all: unset;
  background-color: #525252;
  color: #ffffff;
  border-radius: 10px;
  font-size: 15px;
  text-align: start;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 20px;
  width: 100%;
  height: 100px;
}
.description-input {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-upload {
  height: 5px;
  overflow: hidden;
  background-color: #e6dedd;
  animation: loadup 2s ease-out 0s infinite forwards;
  border-radius: 10px;
}
@keyframes loadup {
  0% {
    margin-left: 5vw;
  }
  25% {
    margin-left: 15vw;
  }
  50% {
    margin-left: 25vw;
  }
  75% {
    margin-left: 40vw;
  }
  100% {
    margin-left: 60vw;
  }
}
.hide-file-upload-btn {
  display: none;
}
.choose-file {
  background-color: #100720;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-family: sans-serif;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 15px;
}
button[class="feed-smt-btn"] {
  all: unset;
  background-color: rgb(16, 7, 32);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  font-size: 15px;
  box-shadow: inset 0 0 25px rgba(12, 1, 31, 0.7), 0 0 30px rgb(0 0 0 / 20%);
  background: url("../../staticAssets/noise-10.png");
}
.choose-file:hover,
button[class="feed-smt-btn"]:hover {
  cursor: pointer;
  background-color: rgb(23, 12, 43);
  box-shadow: inset 0 0 25px rgba(31, 202, 8, 0.7), 0 0 30px rgb(0 0 0 / 20%);
}
.upload-sub-btn {
  width: 70vw;
}
/* starting of feeds items styling */
.feeds-items {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: center;
}
.feeds-img-container,
.feeds-video-container {
  display: flex;
  margin: 10px 0px 10px 0px;
  transition: 0.5s ease-in;
  width: 75vw;
}

.feeds-img-container:hover,
.feeds-video-container:hover {
  filter: drop-shadow(0 0 5px #ffffff);
  transform: scale(1.05, 1.05);
}
.lazy-load-img,
.video-feed {
  height: 300px;
  border-radius: 15px 0px 0px 15px;
}
.feed-desciption {
  text-align: start;
  width: 100%;
  height: 300px;
  color: white;
  overflow: hidden;
  background-color: #e6dedd;
}
.feed-desc-bck {
  background-color: #525252;
  width: 100%;
  height: 300px;
  transition: 1s ease-out;
}
.feed-desc-bck:hover {
  animation: worp 1s ease-out 0s 1 forwards;
}
@keyframes worp {
  0% {
    border-radius: 0% 0% 0% 0%;
  }
  25% {
    border-radius: 0% 0% 20% 0%;
  }
  50% {
    border-radius: 0% 0% 40% 0%;
  }
  75% {
    border-radius: 0% 0% 30% 0%;
  }
  100% {
    border-radius: 0% 0% 20% 0%;
  }
}

.feed-date {
  font-size: 10px;
  text-align: end;
  margin-left: 10px;
}
.description-tag {
  font-size: 12px;
  text-align: start;
  margin-left: 10px;
}
.feed-desc {
  font-size: 15px;
  margin-left: 10px;
}

@media only screen and (max-width: 500px) {
  .feeds-items {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
  }
  .feeds-img-container,
  .feeds-video-container {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
    transition: 0.5s ease-in;
    /* height: 400px;
    overflow: hidden; */
  }

  .feeds-img-container:hover,
  .feeds-video-container:hover {
    filter: drop-shadow(0 0 5px #ffffff);
    transform: scale(1.05, 1.05);
  }
  .lazy-load-img,
  .video-feed {
    width: 300px;
    height: auto;
    border-radius: 5px 5px 0px 0px;
  }
  .feed-desciption {
    text-align: start;
    width: 300px;
    height: 100%;
    color: white;
    overflow: hidden;
    background-color: #e6dedd;
  }
  .feed-desc-bck {
    background-color: #525252;
    width: 300px;
    height: 100%;
    transition: 1s ease-out;
  }
}
