.user-account {
  text-align: center;
  font-family: YK-sb;
  background-color: var(--darkmode);
  color: white;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea[class="upload-descriptor"] {
  all: unset;
  background-color: wheat;
  width: 60vw;
  border-radius: 10px;
  font-size: 15px;
  text-align: start;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 20px;
}
input[class="upload-btn"] {
  all: unset;
  background-color: transparent;
}
output {
  display: flex;
}
.thumbnail {
  width: 200px;
}
