@font-face {
  font-family: YK-sb;
  src: url(../../font/Yanone_Kaffeesatz/YanoneKaffeesatz-SemiBold.ttf);
}
@font-face {
  font-family: EXO2-rg;
  src: url(../../font/Exo2-Regular.ttf);
}

.opt-main-container-reset {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  font-family: EXO2-rg;
}
.opt-container {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-bar {
  flex: 0.1;
}
.reset-password-field {
  flex: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.labels {
  color: white;
}
input[class="otp-input"] {
  all: unset;
  width: 200px;
  height: 30px;
  background-color: #f9f9c5;
  padding: 5px 5px 5px 10px;
  border-radius: 5px 0px 0px 5px;
}
input[class="otp-input"]:focus {
  transition: 0.5s;
  width: 250px;
  border: 1px solid var(--borderHue);
  filter: drop-shadow(0 0 10px #ffffff);
}
.input-fields-style {
  padding: 2px;
}
.sub-btn {
  margin-top: 10px;
}
button[class="reset-btn"] {
  all: unset;
  height: 30px;
  width: 200px;
  background-color: #61b15a;
  padding: 5px 5px 5px 10px;
  color: #f9f9c5;
  text-align: center;
}
button[class="reset-btn"]:hover {
  background-color: #598056;
  cursor: pointer;
}

.modal-reset {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: hsl(105, 2%, 49%, 0.8);
  overflow: hidden;
}
.modal-main-reset {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-mark-reset {
  /* overflow: hidden; */
  transition: 1s;
  font-size: 0px;
  color: var(--okaycolor);
  animation: movemark 0.5s linear 0s 1 forwards;
}
@keyframes movemark {
  from {
    color: white;
    transform: scale(0, 1);
  }
  to {
    font-size: 50px;
  }
}
.modal-content-reset {
  display: flex;
  flex-direction: column;
}
.verification-ctn-reset {
  flex-direction: column;
  display: flex;
  align-items: center;
}
button[class="otp-retry-btn"] {
  all: unset;
  width: 100%;
  background-color: var(--okaycolor);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
button[class="otp-retry-btn"]:hover {
  cursor: pointer;
  background-color: #8b5068;
}
.instruction-reset {
  font-size: 40px;
  font-weight: 800;
  color: var(--okaycolor);
}
.icon-check-reset {
  filter: drop-shadow(0 0 10px #ffffff);
}
.otp-instruction-reset {
  color: var(--okaycolor);
  text-align: center;
}
.show-error-msg {
  text-align: center;
  color: red;
  width: 300px;
}
.mailtoken-sent-msg {
  margin-top: 5px;
  text-align: center;
  color: #61b15a;
  width: 300px;
}
.reset-form-sheet {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
