@font-face {
  font-family: YK-sb;
  src: url(../../font/Yanone_Kaffeesatz/YanoneKaffeesatz-SemiBold.ttf);
}
@font-face {
  font-family: EXO2-rg;
  src: url(../../font/Exo2-Regular.ttf);
}

.opt-container {
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: EXO2-rg;
}
.top-bar {
  flex: 0.1;
  display: flex;
  align-items: center;
}
.email-main {
  flex: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.otp-input-field {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[class="otp-input"] {
  all: unset;
  width: 200px;
  height: 30px;
  background-color: #f9f9c5;
  padding: 5px 5px 5px 10px;
  border-radius: 5px 0px 0px 5px;
}
.user-error-message {
  text-align: center;
  color: red;
  margin-bottom: 10px;
}
