@font-face {
  font-family: YK-sb;
  src: url(../../font/Yanone_Kaffeesatz/YanoneKaffeesatz-SemiBold.ttf);
}
@font-face {
  font-family: DS-rg;
  src: url(../../font/Dancing_Script/DancingScript-Regular.ttf);
}
/* body {
  background-color: #282c34;
} */
.home {
  font-family: YK-sb;
  background-color: var(--darkmode);
  color: white;
  font-size: calc(10px + 2vmin);
}
.i-logo {
  color: #faea48;
  margin-left: 10px;
}
.i-motto {
  font-size: calc(5px + 2vmin);
  font-family: DS-rg;
  display: flex;
  align-items: center;
}
.home-header {
  display: flex;
  justify-content: space-between;
}
.sign-up_in {
  display: flex;
}

.sign_user,
.signup-user {
  all: unset;
  margin-right: 20px;
  position: relative;
}
.sign_user:hover,
.signup-user:hover {
  cursor: pointer;
}
.login_user::before,
.sign_up_user::before {
  position: absolute;
  overflow: hidden;
  content: attr(text-data);
  width: 0;
  transition: 1s;
}
.login_user:hover::before,
.sign_up_user:hover::before {
  color: #faea48;
  width: 100%;
}

.img-ctn {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(114, 80, 80), rgb(255, 145, 0));
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
  overflow: hidden;
}
.dash-text {
  position: absolute;
  top: 25vh;
  font-family: DS-rg;
}
.piza_home {
  width: 100%;
}
.footer-menu {
  height: 100vh;
}
.body-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-feed-ctn {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.home-feed-items {
  display: flex;
  flex-direction: column;
}
.img-ctn-feed {
  position: relative;
  width: 300px;
  height: 210px;
  overflow: hidden;
}
.feed-ctn {
  width: 100%;
  height: auto;
  position: absolute;
}
.price-tag {
  position: absolute;
  text-align: end;
  width: 100%;
  color: white;
  transition: 0.5s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.price-tag:hover {
  cursor: pointer;
  font-size: 100px;
}
.item-price {
  padding: 10px;
  background-color: hsl(125, 55%, 59%, 0.5);
  border-radius: 10px 0px 10px 0px;
}
.feed-intr-items {
  width: 300px;
  height: 60px;
  overflow: hidden;
  position: relative;
}
.feed-readmore {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: rgb(68, 68, 233);
}
.readmore {
  padding: 2px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}
.readmore:hover {
  cursor: pointer;
  color: #ffffff;
}
.feed-interactions {
  display: flex;
  flex-direction: column;
}
.ratings {
  display: flex;
  justify-content: space-between;
}
.interactions {
  display: flex;
  justify-content: space-between;
  z-index: 9;
}
.feed-intr {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  /* justify-content: end; */
  /* background-color: aquamarine; */
}
.intr-values {
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
  display: flex;
  transition: 0.5s;
  font-size: 15px;
  color: hsl(125, 55%, 59%);
  padding: 2px 10px 15px 10px;
}

.intr-values:hover {
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(12, 12, 12, 0.5);
  width: 100%;
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.recipe-feed-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-feed-section {
  display: flex;
  align-items: center;
}
.recipe-search {
  padding-left: 20px;
}
input[class="recipe-search-input"] {
  all: unset;
  width: 250px;
  font-size: 15px;
  border: 2px solid #e7f6f2;
  border-radius: 5px 0px 0px 0px;
  background-color: transparent;
  padding: 10px;
  transition: 0.5s;
}
button[class="search-btn"] {
  all: unset;
  text-align: center;
  font-size: 15px;
  width: 30px;
  border-radius: 0px 5px 0px 0px;
  padding: 10px;
  border: 2px solid #e7f6f2;
  background-color: #448858;
  transition: 0.5s;
}
button[class="search-btn"]:hover {
  cursor: pointer;
  /* border: 1.9px solid #448858; */
  background-color: #ffffff;
  color: #448858;
}
input[class="recipe-search-input"]:hover {
  border: 2px solid #448858;
}
.ratings,
.interactions {
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.recipe-desc {
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.liked-ic {
  color: red;
}
.yet-liked {
  transition: 0.5s;
  margin-left: 10px;
}
.new-comment,
.yet-disliked {
  transition: 0.5s;
}
.yet-disliked {
  margin-right: 10px;
}
.new-comment:hover {
  cursor: pointer;
  color: #a3f3eb;
  transform: scale(1.5);
}
.yet-disliked:hover {
  cursor: pointer;
  color: #000000;
  transform: scale(1.5);
}
.yet-liked:hover {
  cursor: pointer;
  color: red;
  transform: scale(1.5);
}
.rated-star {
  color: #fac213;
}
@media only screen and (max-width: 500px) {
  .i-motto {
    display: none;
  }
}
