body {
  margin: 0;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: #282c34 #aaa9a9 !important;
  scrollbar-width: thin !important;
  /* background-color: var(--darkmode); */
}
body::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: #282c34;
}

body::-webkit-scrollbar-thumb {
  background: #aaa9a9;
}

body::-webkit-scrollbar-corner {
  background: #fff3;
}
